:root {
    --color1: rgb(0, 231, 255);
    --color2: rgb(255, 0, 231);
    --imagen_original: url("");
    --imagen_creacion: url("");
    --imagen_print1: url("images/foto1a.jpg");
    --imagen_print2: url("images/foto1b.jpg");
    --imagen_print3: url("images/foto31a.jpg");
    --imagen_print4: url("images/foto31b.jpg");
    --imagen_print5: url("images/foto25a.jpg");
    --imagen_print6: url("images/foto25b.jpg");
    --imagen_modelo: url("images/modelo.jpg");
    --imagen_estilo1: url("images/estilo1.jpg");
    --imagen_estilo2: url("images/estilo2.jpg");
    --imagen_estilo3: url("images/estilo3.jpg");
  }

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

div{
  border: 0px solid rgb(46, 14, 227);
}

.contenedor-s2{
  border: 0px solid rgb(127, 108, 235);
  position: relative;
}

.nuevo-contenedor {
  display: flex; /* Convierte el contenedor en un contenedor flexible */
  justify-content: space-around; /* Opcional: Distribuye el espacio entre los elementos */
  align-items: center; /* Opcional: Alinea los elementos verticalmente */
}

.imagen{
  width: 85%;
  height: 85%;
  margin-left: 10%;
  /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5)); */
  filter: drop-shadow(50px 50px 100px rgba(255, 255, 255, 0.8));
}

.app-perspective {
  width: 100% !important;
  height: 100% !important;
  transform: rotateX(30deg) !important; 
  transform-origin: bottom !important; 
  transform: rotateY(1deg) !important; 
  transform-origin: right !important; 
}
 
.card {
  width: 71.5vw;
  height: 100vw;
  /* position: relative; */
  overflow: hidden;
  margin: 20px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;
  border-radius: 5%/3.5%;
  box-shadow: -5px -5px 5px -5px var(--color1), 5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent, 7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;
  background-color: #040712;
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}
@media screen and (min-width: 600px) {
  .card {
    width: clamp(12.9vw, 61vh, 18vw);
    height: clamp(18vw, 85vh, 25.2vw);
  }
}

.card:hover {
  box-shadow: -20px -20px 30px -25px var(--color1), 20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1), 7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3), 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.original {
  --front: var(--imagen_original);
}

.card.creacion {
  --front: var(--imagen_creacion);
}

.card.print1 {
  --front: var(--imagen_print1);
}

.card.print2 {
  --front: var(--imagen_print2);
}

.card.print3 {
  --front: var(--imagen_print3);
}

.card.print4 {
  --front: var(--imagen_print4);
}

.card.print5 {
  --front: var(--imagen_print5);
}

.card.print6 {
  --front: var(--imagen_print6);
}

.card.modelo {
  --front: var(--imagen_modelo);
}

.card.estilo1 {
  --front: var(--imagen_estilo1);
}
.card.estilo2 {
  --front: var(--imagen_estilo2);
}
.card.estilo3 {
  --front: var(--imagen_estilo3);
}



.main_position_original { 
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 1;
}

.main_position_creation {
  position: relative;
  top: 0%; 
  left: 30%; 
  z-index: 0;
}

.card:before,
.card:after {
  content: "";
  /* position: absolute; */
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: 0.5;
  mix-blend-mode: color-dodge;
  transition: all 0.33s ease;
}

.card:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(115deg, transparent 0%, var(--color1) 25%, transparent 47%, transparent 53%, var(--color2) 75%, transparent 100%);
  opacity: 0.5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card:after {
  opacity: 1;
  background-image: url("https://assets.codepen.io/13471/sparkles.gif"), url(https://assets.codepen.io/13471/holo.png), linear-gradient(125deg, #ff008450 15%, #fca40040 30%, #ffff0030 40%, #00ff8a20 60%, #00cfff40 70%, #cc4cfa50 85%);
  background-position: 50% 50%;
  background-size: 160%;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1) contrast(1);
  transition: all 0.33s ease;
  mix-blend-mode: color-dodge;
  opacity: 0.75;
}

.card.active:after,
.card:hover:after {
  filter: brightness(1) contrast(1);
  opacity: 1;
}

.card.active,
.card:hover {
  -webkit-animation: none;
          animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card.active:before,
.card:hover:before {
  -webkit-animation: none;
          animation: none;
  background-image: linear-gradient(110deg, transparent 25%, var(--color1) 48%, var(--color2) 52%, transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: 0.88;
  filter: brightness(0.66) contrast(1.33);
  transition: none;
}

.card.active:before,
.card:hover:before,
.card.active:after,
.card:hover:after {
  -webkit-animation: none;
          animation: none;
  transition: none;
}

.card.animated {
  transition: none;
  -webkit-animation: holoCard 12s ease 0s 1;
          animation: holoCard 12s ease 0s 1;
}
.card.animated:before {
  transition: none;
  -webkit-animation: holoGradient 12s ease 0s 1;
          animation: holoGradient 12s ease 0s 1;
}
.card.animated:after {
  transition: none;
  -webkit-animation: holoSparkle 12s ease 0s 1;
          animation: holoSparkle 12s ease 0s 1;
}

@-webkit-keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoSparkle {
  0%, 100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%, 8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%, 16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%, 38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}
@-webkit-keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@keyframes holoGradient {
  0%, 100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%, 9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%, 17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%, 39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}
@-webkit-keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
@keyframes holoCard {
  0%, 100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%, 8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%, 16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%, 38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}
.card.eevee:hover {
  box-shadow: 0 0 30px -5px white, 0 0 10px -2px white, 0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card.eevee:hover:before,
.card.eevee.active:before {
  background-image: linear-gradient(115deg, transparent 20%, var(--color1) 36%, var(--color2) 43%, var(--color3) 50%, var(--color4) 57%, var(--color5) 64%, transparent 80%);
}

.demo .card {
  background-image: var(--back);
  font-size: 2vh;
}

.demo .card > span {
  /* position: relative; */
  top: 45%;
}

.demo .card:nth-of-type(1),
.demo .card:nth-of-type(2),
.demo .card:nth-of-type(3) {
  width: 20vh;
  height: 27.5vh;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.4), 0 25px 15px -10px rgba(0, 0, 0, 0.5);
  -webkit-animation: none;
          animation: none;
}

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after,
.demo .card:nth-of-type(2):before,
.demo .card:nth-of-type(2):after,
.demo .card:nth-of-type(3):before,
.demo .card:nth-of-type(3):after {
  -webkit-animation: none;
          animation: none;
}

.demo .card:nth-of-type(1):before, .demo .card:nth-of-type(1):after {
  display: none;
}

.demo .card:nth-of-type(2) {
  background: none;
}
.demo .card:nth-of-type(2):before {
  display: none;
}

.demo .card:nth-of-type(3) {
  background: none;
}
.demo .card:nth-of-type(3):after {
  display: none;
}

.operator {
  display: inline-block;
  vertical-align: middle;
  font-size: 6vh;
}

h1 {
  display: block;
  /* margin: 30px 0; */
}

p{
  font-size: 28px; 
  font-weight: 200;
  text-align: justify;
}

/* #app {
  position: relative;
} */

.demo,
.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  perspective: 2000px;
  /* position: relative; */
  z-index: 1;
  transform: translate3d(0.1px, 0.1px, 0.1px);
}

.demo {
  flex-direction: row;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .cards {
    flex-direction: row;
  }
}
.cards .card:nth-child(2), .cards .card:nth-child(2):before, .cards .card:nth-child(2):after {
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.cards .card:nth-child(3), .cards .card:nth-child(3):before, .cards .card:nth-child(3):after {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.cards .card:nth-child(4), .cards .card:nth-child(4):before, .cards .card:nth-child(4):after {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.promo {
  margin-top: 50px;
}

.promo img {
  margin-top: 10px;
  max-width: 80%;
}

html,
body,
main {
  min-height: 100%;
}

@-webkit-keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

button {
  padding: 10px 20px;
  background-color: #e938b4;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #c405a4cc;
}

button_test {
  padding: 10px 20px;
  background-color: #2b28f0;
  color: white;
  border: none;
  cursor: pointer;
  margin: 10px;
}

.boton_principal {
  display: inline-block;
  padding: 12px 24px;
  background-color: #4285F4; /* azul Google */
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* sombra ligera */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.2s ease;
}

.boton_principal:hover {
  background-color: #357ae8; /* azul más oscuro */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); /* sombra más intensa al hover */
  transform: translateY(-2px); /* pequeño levantamiento */
}